.main_note {
  display: flexbox;
  margin-left: 30%;
  margin-top: 5%;
  padding-bottom: 60px;
}

.note-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px; /* Adjust the gap as needed */
}
